<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860518987283-p5936flp8oeebs55eroc4rgnebo8mg0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860518987283-p5936flp8oeebs55eroc4rgnebo8mg0v</string>
	<key>API_KEY</key>
	<string>AIzaSyDAo7oYYrXFyY_-UjSn4BuQ504-RvC4I0E</string>
	<key>GCM_SENDER_ID</key>
	<string>860518987283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roxcity.Pickup</string>
	<key>PROJECT_ID</key>
	<string>pickup-bb341</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-bb341.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860518987283:ios:c86cade09745d11c</string>
	<key>DATABASE_URL</key>
	<string>https://pickup-bb341.firebaseio.com</string>
</dict>
</plist>